@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "FigtreeItalic";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

i {
  font-family: "FigtreeItalic";
}

b {
  font-weight: 800;
}

p {
  color: var(--grey);
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  font-size: 1.5em;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Figtree", "Tahoma", sans-serif;
  font-weight: 500;
  color: var(--black);
  box-sizing: border-box;
}

@media screen and (max-width: 470px) {
  body {
    font-size: 0.8em;
  }
}

main {
  background-color: var(--yellow);
  height: 100vh;
}

section > h1:hover {
  color: var(--yellow);
  cursor: pointer;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.cards-container > .card {
  background-color: var(--white);
  max-width: 21em;
  min-height: 20em;
  margin: 1.5em;
  padding: 1.5em;
  border-radius: 1.25em;
  border: solid var(--black) 1px;
  box-shadow: 1em 1em 0 0 rgba(18, 18, 18, 1);
  -webkit-box-shadow: 1em 1em 0 0 rgba(18, 18, 18, 1);
  -moz-box-shadow: 1em 1em 0 0 rgba(18, 18, 18, 1);
}

@media screen and (max-width: 470px) {
  .cards-container > .card {
    box-shadow: 0.7em 0.7em 0 0 rgba(18, 18, 18, 1);
    -webkit-box-shadow: 0.7em 0.7em 0 0 rgba(18, 18, 18, 1);
    -moz-box-shadow: 0.7em 0.7em 0 0 rgba(18, 18, 18, 1);
  }
}

.card figure {
  margin: 0;
}

figure img {
  max-width: 100%;
  height:100%;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: 0 5px 3px rgba(128, 128, 128, 0.5);
  -moz-box-shadow: 0 5px 3px rgba(128, 128, 128, 0.5);
}

.tags-container {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  row-gap: 0.5em;
  margin: 1.5em 0 1em 0;
  flex-wrap: wrap;
}

.tag {
  padding: 0.5em;
  background-color: var(--yellow);
  border-radius: 0.25em;
}

.author-info {
  display: flex;
  flex-direction: row;
  height: 2em;
  justify-content: left;
  align-items: center;
  gap: 0.75em;
}

.author-info img {
  max-height: 100%;
}
